<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>はちまバスターNGリスト</title>
    <link href="/censored/stylesheets/application.css" rel="stylesheet" />
  </head>
  <body class='index'>
    <div class='container'>
      <div class='page-header'>
        <h1>はちまバスターNGリスト</h1>
      </div>
      <div class='row' id='app'>
        <div class='col-md-8'>
          <table class='table table-striped table-hover'>
            <thead>
              <tr>
                <th class='check'>
                  <input @click='toggle' type='checkbox'>
                </th>
                <th class='name'>
                  <input class='form-control' placeholder='フィルタ' type='text' v-model='filterText'>
                </th>
                <th>
                  <label>
                    <input @click='important' type='checkbox'>
                    重要
                  </label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr :class='{checked: filter.checked}' @click='check(filter)' v-for='filter in presets | filterBy filterText'>
                <td>
                  <input class='preset' type='checkbox' v-model='filter.checked' value='{{filter.regexp}}'>
                </td>
                <td :title='tags(filter)'>{{filter.name}}</td>
                <td class='important'>{{filter.important ? "!" : ""}}</td>
                <td class='regexp'>
                  <span title='{{filter.regexp}}'>{{truncate(filter.regexp, 45)}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='col-md-4'>
          <div class='sticky'>
            <div class='text-right'>
              選択した数:
              <b>{{values().length}}</b>
              /{{presets.length}}
            </div>
            <textarea @blur='unfocus' @click='focus' class='form-control' id='output' readonly rows='15' wrap='off'>{{values().join("\n")}}</textarea>
          </div>
          <hr>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <b>
                これはなに
              </b>
            </div>
            <div class='panel-body'>
              <p>
                Chromeの拡張機能
                <a href="https://chrome.google.com/webstore/detail/%E3%81%AF%E3%81%A1%E3%81%BE%E3%83%90%E3%82%B9%E3%82%BF%E3%83%BC/kmjdodljbndkgaiakbdciipegjnbcmog?hl=ja">はちまバスター</a>
                用の正規表現を提供します。ブロックしたいサイトをチェックして、結果をはちまバスターのオプションにコピペしてください。
                オプションはChromeのその他のツール→拡張機能、またはアドレスバー右のはちまバスターのアイコンを右クリックから開けます。
              </p>
              <p>
                またはリストの購読を有効にすることで自動的にフィルタが追加され、このリストの変更も自動的に反映されるようになります。
                リストは管理者の気分次第でなんとなく更新されます。隠しフィルタ的なものが追加されることはありません。
              </p>
            </div>
          </div>
          <div class='list-group'>
            <a class='list-group-item' href='https://github.com/censor-ed/censored/commits/gh-pages'>更新履歴</a>
            <a class='list-group-item' href='presets.json' target='_blank'>JSON(全て)</a>
            <a class='list-group-item' href='important.json' target='_blank'>JSON(重要)</a>
          </div>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script src="/censored/javascripts/application.js"></script>
  </body>
</html>
