<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>はちまバスターNGリスト</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" /><link href="/censored/stylesheets/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.10/vue.min.js"></script><script src="/censored/javascripts/all.js"></script>
  </head>
  <body class='index'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <h1>はちまバスターNGリスト</h1>
          <p>
            ブロックしたいサイトをチェックして、結果を
            <a href="https://chrome.google.com/webstore/detail/%E3%81%AF%E3%81%A1%E3%81%BE%E3%83%90%E3%82%B9%E3%82%BF%E3%83%BC/kmjdodljbndkgaiakbdciipegjnbcmog?hl=ja">はちまバスター</a>
            のオプションにコピペしてください。
            オプションはChromeのその他のツール→拡張機能から開けます。
          </p>
          <div id='presets'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th class='check'>
                    <input type='checkbox' v-on='click: toggle'>
                  </th>
                  <th class='name'>
                    <input class='form-control' placeholder='フィルタ' type='text' v-model='filterText'>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-repeat='presets | filterBy filterText in name'>
                  <td>
                    <input class='preset' id='{{$index}}' type='checkbox' v-model='checked' value='{{regexp}}'>
                  </td>
                  <td>
                    <label for='{{$index}}'>{{name}}</label>
                  </td>
                  <td>
                    <label for='{{$index}}' title='{{regexp}}'>{{truncate(regexp, 45)}}</label>
                  </td>
                </tr>
              </tbody>
            </table>
            <textarea class='form-control' id='output' readonly rows='5' v-on='click: focus' wrap='off'>{{values().join("\n")}}</textarea>
            <div class='text-right'>
              選択した数:{{checkedSize()}}/{{$data.presets.length}}
            </div>
          </div>
        </div>
      </div>
      <div id='go-to-top'>↑</div>
      <div id='go-to-bottom'>↓</div>
    </div>
  </body>
</html>
